//
// Breakpoints
//

$mobile: '370px';
$mobile-large: '480px';
$tablet-under: '767px';
$tablet: '768px';
$tablet-large-under: '959px';
$tablet-large: '960px';
$tablet-large-over: '961px';
$tablet-ipad-pro: '1025px';
$tablet-ipad-pro-under: '1024px';
$desktop-small-height: '850px';
$desktop-under: '1199px';
$desktop: '1200px';
$desktop-large: '1400px';
